.jumbotron {
    text-align: center;
}
.section-header {
    text-align: center;
}
#events-map-area {
    height: 70vh;
    background-color: goldenrod
}
#venue-area {
    height: 70vh;
    background-color: maroon;
}
#events-area {
    height: 70vh;
    background-color: purple
}

#map {
    display: block;
    width: 47vh;
    height: 60vh;
}
