html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}

.site-title {
    margin: auto;
    text-align: center;
    width: 50vh;
    background-color: #C78D05;
}
.section-header {
    text-align: center;
}
.events-list-header {
    text-align: center;
}
#events-map-area {
    height: 70vh;
}
#venue-area {
    height: auto;
    background-color: #C78D05;
}
#events-area {
    height: 70vh;
}
#events-list-area {
    height: 80vh;
    background-color: #C78D05;
    
}
.events-list {
    overflow-y: scroll;
    height: 70vh;
}
.container-fluid {
    margin-left: 12vh;
    margin-right: 7vh;
    height: 90%;
}
.venue-list {
    margin-top: 10px;
}
#map {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}
.container {
    z-index: 1;
    height: 10%;
    position: relative;

}

.list-group-item {
    overflow: hidden;
}
.badge {
    margin-left: 5px;
    margin-top: 5px;
}