<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bon Temps</title>

    <!-- d3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- bootstrap stylesheets and js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- leaflet css and js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

    <!-- my stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div id="map"></div>
    <div class="container">
        <div class="site-title">
            <h1>Austin Events Map</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="events-list-area" class="events-list-header col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <h2>Events List</h2>
                <ul class="events-list list-group">
                </ul>
            </div>
            <div id="venue-area" class="section-header col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-5">
                <h2>Venue</h2>
                <img class="img-responsive" src="{{ url_for('static', filename='images/cheer_up_charlies_photo.jpg') }}" alt="cheer-up-charlies">
                <ul class="venue-list list-group">
                </ul>
            </div>
            <div id="events-area" class="section-header col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <h2>Local Shops</h2>
                <div class="venue-photo-container">
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- app.js script -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>