<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bon Temps</title>

    <!-- d3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- bootstrap stylesheets and js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- leaflet css and js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

    <!-- my stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Austin Events Map</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="events-map-area" class="section-header col-md-4">
                <h1>Events Map</h1>
                <div id="map"></div>
            </div>
            <div id="venue-area" class="section-header col-md-4">
                <h1>Venue</h1>
                <img class="img-responsive" src="{{ url_for('static', filename='images/cheer_up_charlies_photo.jpg') }}" alt="cheer-up-charlies">
                <ul class="list-group ">
                    <li class="list-group-item justify-content-between">
                        Metallica with Alice Cooper
                        <span class="badge badge-default badge-pill">8:00 PM</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Billy Bob and the Rangers ft. Adele
                        <span class="badge badge-default badge-pill">9:00 PM</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Lenny Kravitz and Justin Beiber
                        <span class="badge badge-default badge-pill">10:30 PM</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Kanye West
                        <span class="badge badge-default badge-pill">midnight</span>
                    </li>
                </ul>
            </div>
            <div id="events-area" class="section-header col-md-4">
                <h1>Event Information</h1>
                <div class="venue-photo-container">
                </div>
            </div>
        </div>
    </div>
    <table>
        <thead>
        </thead>
        <tbody id="test"></tbody>
    </table>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- app.js script -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>